body {
    background-color: rgb(231, 231, 231);
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.con {
    background-color: white;
    width: 900px;
    height: 585px;
    margin-top: 30px;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
}

.busqueda{
    height: 100px;
    width: 100vw;
    background-color: #fd5c12;
    margin: 0%;
    justify-content: center;
    align-items: center;
    display: flex;
}


.search{
    border-radius: 20px;
    padding: 15px 35px;
    width: 400px;
    border: 0;
    outline: none;
    display: flex;
    margin-left: 230px;
}

::placeholder{
    font-size: 17px;
}

.shopeee{
    width: 130px;
    margin-left: 50px;
    cursor: pointer;
}

.car{
    width: 50px;
    margin-left: 315px;
    cursor: pointer;
}

.button{
    border-radius: 30px;
    background-color: #ffbb00;
    border: none;
    padding: 11px 25px;
    margin-left: 30px;
    cursor: pointer;
}

.buttonimage{
    width: 20px;
}

.divclass{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inicio{
    display: flex;
    margin-top: 5px;
}

.a1{
    margin-left: 7px;
    font-family: Arial;
    font-size: 15px;
    color: #ffbb00;
    cursor: pointer;
    text-decoration: none;
}

a{
    margin-left: 7px;
    font-family: Arial;
    font-size: 15px;
    color: rgb(166, 166, 166);
    cursor: pointer;
}

.prod{
    width: 420px;
    margin-top: 20px;
}

.imaglado{
    width: 102px;
}

.imaglado:hover{
    cursor: pointer;
    transform: scale(2.5);
}

.reloj{
    width: 25px;
    margin-right: 9px;
}

.a2{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #bababa;
    margin-left: 0px;
}

.columna1{
    display: flex;
    flex-direction: column;
}

.columna2{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.relojes{
    font-family: Arial;
    font-size: 18px;
    margin-top: 13px;
    margin-bottom: 0px;
}

.estrella{
    width: 90px;
}

.cal{
    margin-left: 10px;
    padding: 0px;
    margin-right: 10px;
    font-family: Arial;
    font-size: 15px;
    color: #bababa;
    margin-top: 18px;
}

.estre{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.des {
    font-family: Arial;
    font-size: 15px;
    color: #ffbb00;
    margin-left: 11px;
    margin-top: 0px; 
    display: flex;
    align-items: center;
}

.preciorow {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-top: 6px; 
    margin-bottom: 10px;
}

.preciofinal {
    font-family: Arial;
    font-size: 28px;
    color: rgb(240, 76, 0);
    margin-top: 0px; 
    display: flex;
    align-items: center; 
}

 .colores{
    width: 70px;
    height: 88px;
    margin-right: 15px;
    border: 2px solid lightgray;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
 }

 .colores1{
    width: 70px;
    height: 50px;
    margin-bottom: 5px;
 }

 .coloress{
    display: flex;
    margin-bottom: 7px;
 }

 .disponible{
    font-family: Arial;
    margin: 0px;
    font-size: 15px;
 }

 .bold{
    font-family: Arial;
    margin: 0px;
    font-size: 15px;
    margin-right: 7px;
 }

 .disponible1{
    display: flex;
    margin-top: 2px;
 }

 .a22{
    font-size: 15px;
    color: #bababa;
    margin-top: 12px;
    margin-bottom: 0px;
    font-family: Arial;
    text-decoration-line: line-through;
 }

 .disponible2{
    display: flex;
    margin-top: 17px;
 }

.comprar {
    background-color: #fd5c12; 
    border: none;
    border-radius: 15px; 
    font-size: 18px;
    cursor: pointer;
    padding: 15px 20px; 
    color: white; 
    font-family: Arial;
    width: 350px;
    margin-top: 12px;
    margin-bottom: 10px;
}

.comprar:hover {
    background-color: rgb(0, 89, 255); 
    color: white; 
    border:white; 
}

.agregar {
    border-radius: 15px;
    border: 2px solid #fd5c12; 
    background-color: white; 
    padding: 15px 20px; 
    font-size: 18px; 
    color: #fd5c12; 
    cursor: pointer;
    font-family: Arial;
    width: 350px;
}

.agregar:hover {
    background-color: white; 
    color: rgb(0, 89, 255); 
    border-color: rgb(0, 89, 255); 
}

.butt{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

